@import '../../../assets/sass/config.scss';

.goalChart{
    position: relative;
    width: 300px;
    height: 300px;
    padding: 10px;

    h2{
        position: relative;
        top : 10px;
        left : 20px;
        font-weight: 500;
        font-size: 15px;
    }

    &__legend{
        font-size: 18px;
        text-align: center;
        color: #717171;
    }
    span {
        color : $black
    }

}


.wrapper-perfChart {
    padding: 0!important;
}