@import "../../assets/sass/config.scss";

.main {
  margin-left: 150px;
  margin-top: 30px;
  @media screen and (max-width: 1268px) {
    margin-top: 20px;
  }

  &__title-aside {
    margin: 25px 0px;
    @media screen and (max-width: 1268px) {
      margin: 10px 0;
    }
  }
  &__firstname{
    color : #ff0000;
  }
}

.dashboard {
  display: flex;

  &__graph {
    width: 78%;
    @media screen and (min-width: 2200px) {
      width: 70%;
    }
  }

  &__inline-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 1268px) {
      margin-top: 70px;
    }
    
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 1268px) {
      gap: 45px;
    }
    @media screen and (min-width: 2200px) {
      margin-left: 10vw;
    }
  }
}
