@import '../../../assets/sass/config.scss';

.legend {
    display: flex;
    width: 350px;
    justify-content: space-around;
}

.dot-red{
    display: inline-block;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.dot-black{
    display: inline-block;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.weight-graph{
    background-color: $light-grey;
}

.legend-item{
    color : rgba(116, 121, 140, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}