@import "../../assets/sass/config.scss";

.navbar {
  background-color: $black;
  color: white;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-wrapper {
    height: 60px;
    width: 20vw;
    margin-left: 30px;
  }

  &__logo-item {
    height: inherit;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  &__list-item {
    text-decoration: none;
    list-style: none;
    width: 20%;
    font-size: 24px;
    @media screen and (max-width: 1268px) {
      font-size: 18px;
    }
  }
}
