$black : #000;
$red : #FF0000;
$light-black : #282D30;
$light-grey : #fbfbfb;
$red-chart-bg : rgba(255, 1, 1, 0.7);
$light-grey-chat-bg : rgba(196, 196, 196, 0.5);

$width-gutter : 100px;
$height-gutter : 70px;
